@import "../variables/variables.scss";

.header-container {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    img {
      width: 20%;
    }
  }
  .search-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;

    a {
      text-decoration: underline;
      color: $secondaryColor;
    }

    .profile-dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }
  }
}
