:where(.css-dev-only-do-not-override-yp8pcc)[class^="ant-layout"],
:where(.css-dev-only-do-not-override-yp8pcc)[class*=" ant-layout"] {
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary {
  color: #fff;
  background-color: #39cdcc !important;
  box-shadow: 0;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary:not(
    :disabled
  ):hover {
  color: #fff;
  background-color: #39cdcc !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-input-search .ant-input:hover,
:where(.css-dev-only-do-not-override-yp8pcc).ant-input-search .ant-input:focus {
  border-color: #dddddd !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-input-search .ant-input:hover,
:where(.css-dev-only-do-not-override-yp8pcc).ant-input-search .ant-input:focus {
  border-color: #dddddd !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-input:focus,
:where(.css-dev-only-do-not-override-yp8pcc).ant-input-focused {
  box-shadow: 0 0 0 0px rgba(5, 145, 255, 0.1) !important;

  outline: 0 !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-layout.ant-layout-has-sider {
  flex-direction: row;
  overflow: hidden !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #39cdcc !important;
  text-shadow: 0;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 15px !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-list,
:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs
  > div
  > .ant-tabs-nav
  .ant-tabs-nav-list {
  position: relative;
  display: flex;
  width: 100%;
  transition: opacity 0.3s;
  justify-content: space-between;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs .ant-tabs-ink-bar {
  position: absolute;
  background: #37c4c3 !important;
  pointer-events: none;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs .ant-tabs-tab:hover {
  color: #1a1a1a !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs .ant-tabs-tab:hover {
  /* color: #4096ff; */
  color: #1a1a1a !important;
}

:where(.css-dev-only-do-not-override-7xcexp).ant-tabs-top > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-7xcexp).ant-tabs-bottom > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-7xcexp).ant-tabs-top > div > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-7xcexp).ant-tabs-bottom
  > div
  > .ant-tabs-nav {
  margin: 0;
}
